<h1>Listing of all courses</h1>

<ul>
  <li>Coding: CS111</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A through intro to computer Science</li>
</ul>

<ul>
  <li>Coding: CS112</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A through intro to computer Science</li>
</ul>
